/* BckGr = main color
BckGrL = light 
BckGrS = shadow */
:root {
    --bodyFont: 'Quicksand', sans-serif;
    --titleFont: 'Zen Dots', cursive;
    --mainBckGr: #deea34;
    --mainBckGrL: #bdc72c;
    --mainBckGrS: #ffff3c;
    --darkBckGr: #1f0d30;
    --darkBckGrL: #1a0b29;
    --darkBckGrS: #240f37;
    --whiteBckGr: #c6e9f0;
    --whiteBckGrL: #a8c6cc;
    --whiteBckGrS: #e4ffff;
    --midBckGr: #5c4747;
    --midBckGrL: #4e3c3c;
    --midBckGrS: #6a5252;
    --black: #000000;
}

#projects {
    width: 100%;
    padding-bottom: 75px;
}

#featuredProject {
    margin: 5px 0 5px 0;
    flex: 1 1 auto;
    max-height: 40vh;
}

.projectCard {
    position: relative;
    max-width: 100%;
    flex: 1 1 auto;
    max-height: 20vh;
    overflow: hidden;
    position: relative;
    border: 3px solid var(--darkBckGr);
    border-radius: 15px;
}

.projectCard img {
    max-width: 100%;
    flex: 1 1 auto;
    opacity: 0.5;
}

.projectCard img:hover {
    opacity: 1;
}

#featuredProject>.over-img {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: var(--darkBckGr);
    font-size: 1.2rem;
    padding: 12px 24px;
    border-radius: 15px;
    background: var(--whiteBckGr);
    box-shadow: 10px 10px 25px var(--whiteBckGrL),
        -10px -10px 25px var(--whiteBckGrS);
}

.over-img {
    position: absolute;
    bottom: 25px;
    left: 15px;
    color: var(--darkBckGr);
    font-size: 1rem;
    padding: 6px 12px;
    border-radius: 15px;
    background: var(--whiteBckGr);
    box-shadow: 8px 8px 18px var(--whiteBckGrL),
        -8px -8px 18px var(--whiteBckGrS);
}

.grid {
    display: grid;
    gap: 5px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}