/* BckGr = main color
BckGrL = light 
BckGrS = shadow */
:root {
    --bodyFont: 'Quicksand', sans-serif;
    --titleFont: 'Zen Dots', cursive;
    --mainBckGr: #deea34;
    --mainBckGrL: #bdc72c;
    --mainBckGrS: #ffff3c;
    --darkBckGr: #1f0d30;
    --darkBckGrL: #1a0b29;
    --darkBckGrS: #240f37;
    --whiteBckGr: #c6e9f0;
    --whiteBckGrL: #a8c6cc;
    --whiteBckGrS: #e4ffff;
    --midBckGr: #5c4747;
    --midBckGrL: #4e3c3c;
    --midBckGrS: #6a5252;
    --black: #000000;
}

#aboutMe {
    width: 100%;
    padding: 10px;
}

#aboutMeTitle {
    font-family: var(--titleFont);
    font-size: 2rem;
    color: var(--darkBckGr);
    margin: 15px;
}

#selfie {
    margin: 15px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}