/* BckGr = main color
BckGrL = light 
BckGrS = shadow */
:root {
    --bodyFont: 'Quicksand', sans-serif;
    --titleFont: 'Zen Dots', cursive;
    --mainBckGr: #deea34;
    --mainBckGrL: #bdc72c;
    --mainBckGrS: #ffff3c;
    --darkBckGr: #1f0d30;
    --darkBckGrL: #1a0b29;
    --darkBckGrS: #240f37;
    --whiteBckGr: #c6e9f0;
    --whiteBckGrL: #a8c6cc;
    --whiteBckGrS: #e4ffff;
    --midBckGr: #5c4747;
    --midBckGrL: #4e3c3c;
    --midBckGrS: #6a5252;
    --black: #000000;
}
footer {
    font-family: var(--bodyFont);
    width: 100vw;
    height: 10vh;
    background: linear-gradient(var(--midBckGr), var(--darkBckGr));
}
.footerBtn {
    color: var(--whiteBckGr); 
}