/* base css for app */
:root {
    --bodyFont: 'Quicksand', sans-serif;
    --titleFont: 'Zen Dots', cursive;
    --mainBckGr: #deea34;
    --mainBckGrL: #bdc72c;
    --mainBckGrS: #ffff3c;
    --darkBckGr: #1f0d30;
    --darkBckGrL: #1a0b29;
    --darkBckGrS: #240f37;
    --whiteBckGr: #c6e9f0;
    --whiteBckGrL: #a8c6cc;
    --whiteBckGrS: #e4ffff;
    --midBckGr: #5c4747;
    --midBckGrL: #4e3c3c;
    --midBckGrS: #6a5252;
    --black: #000000;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    
}

.container-fluid{
    padding: 0;
    margin: 0;
}

html {
    height: 100%;

}

body {
    background: var(--whiteBckGr);
    max-width: 100vw;
    min-height: 100vh;
    
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

input, select, option, optgroup, textarea, button, pre, code {
    font-size: 100%;
    font-family: inherit;
}

ol, ul {
    list-style: none;
}
